{"swagger":"2.0","info":{"version":"v1","title":"Sccgov.Sfp.WebAPI"},"host":"deservices.sccgov.org","basePath":"/SFP","schemes":["https"],"paths":{"/api/LocationAPI/GetLocationList":{"get":{"tags":["LocationAPI"],"operationId":"LocationAPI_GetLocationList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Location"}}}}}},"/api/LocationAPI/GetAvailableTimeslots":{"get":{"tags":["LocationAPI"],"operationId":"LocationAPI_GetAvailableTimeslots","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"appointmentDate","in":"query","required":true,"type":"string","format":"date-time"},{"name":"locationId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TimeSlot"}}}}}},"/api/LocationAPI/GetAgencyAddressForDOJ/{applicationType}":{"get":{"tags":["LocationAPI"],"operationId":"LocationAPI_GetAgencyAddressForDOJ","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationType","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"definitions":{"Location":{"type":"object","properties":{"LOCATION_ID":{"type":"string"},"DESCRIPTION":{"type":"string"},"STREETNAME":{"type":"string"},"CITY":{"type":"string"},"STATUS":{"type":"string"},"Z_SFP_APPLICANT":{"type":"array","items":{"$ref":"#/definitions/Applicant"}},"Z_SFP_TIMESLOT":{"type":"array","items":{"$ref":"#/definitions/TimeSlot"}}}},"Applicant":{"required":["FIRSTNAME","LASTNAME","WEIGHT","EYE_COLOR","HOME_STREET_NAME","HOME_CITY","HOME_STATE","HOME_ZIP","JOB_TITLE","AGENCY_NAME","AGENCY_STREET_NAME_POBOX","AGENCY_CITY","AGENCY_STATE","AGENCY_ZIP","HAIR_COLOR","BIRTHPLACE_STATE_OR_COUNTY","HOME_STREET_NUMBER","AGENCY_STREET_N0","DOJ_LOS","FBI_LOS","MISC_BILLING_NUMBER","HomePhoneArea","HomePhoneFirst3","HomePhoneLast4","height_feet","height_inch"],"type":"object","properties":{"pob":{"type":"string"},"ID":{"format":"int32","type":"integer"},"FIRSTNAME":{"pattern":"(([a-zA-Z]*)|([\\*]))?$","type":"string"},"LASTNAME":{"pattern":"([a-zA-Z\\-\\s]*)","type":"string"},"CREATED_BY":{"type":"string"},"CREATE_DATE":{"format":"date-time","type":"string"},"STATUS":{"type":"string"},"SEX":{"type":"string"},"HEIGHT":{"type":"string"},"WEIGHT":{"pattern":"^([0-9]*)?","type":"string"},"EYE_COLOR":{"type":"string"},"BIRTHPLACE_CITY":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"DOB":{"type":"string"},"HOME_STREET_NAME":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"HOME_CITY":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"HOME_STATE":{"type":"string"},"HOME_ZIP":{"pattern":"^(\\d\\d\\d\\d\\d)?","type":"string"},"ORI_CODE":{"type":"string"},"APPLICATION_TYPE":{"type":"string"},"JOB_TITLE":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"AGENCY_NAME":{"pattern":"([a-zA-Z\\s]*)","type":"string"},"AGENCY_STREET_NAME_POBOX":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"AGENCY_MAIL_CODE":{"pattern":"(\\d\\d\\d\\d\\d)","type":"string"},"AGENCY_CITY":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"AGENCY_STATE":{"type":"string"},"AGENCY_ZIP":{"pattern":"^(\\d\\d\\d\\d\\d)?","type":"string"},"CITIZENSHIP_COUNTRY":{"type":"string"},"HOME_PHONE_NUMBER":{"type":"string"},"TRACKINGNO":{"type":"string"},"APPTDATE":{"type":"string"},"APPTTIME":{"type":"string"},"LOCATION_ID":{"type":"string"},"SLOT_RESERVED_AT":{"format":"date-time","type":"string"},"SLOT_STATUS":{"type":"string"},"REMINDER":{"type":"string"},"MIDDLENAME":{"pattern":"([a-zA-Z\\s]*)","type":"string"},"HAIR_COLOR":{"type":"string"},"BIRTHPLACE_STATE_OR_COUNTY":{"type":"string"},"SSN":{"type":"string"},"AKA_LAST":{"pattern":"([a-zA-Z\\-\\s]*)","type":"string"},"AKA_FIRST":{"pattern":"^(([a-zA-Z]*)|([\\*]))?$","type":"string"},"HOME_STREET_NUMBER":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"HOME_APT_NO":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"AGENCY_STREET_N0":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"AGENCY_CONTACT":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"AGENCY_PHONE":{"type":"string"},"AGENCY_PHONE_EXT":{"pattern":"([0-9]*)","type":"string"},"CDL_NUMBER":{"pattern":"^[A-HJKMNPRSU-WYZa-hjkmnprsu-wyz][\\d]{7}$","type":"string"},"OCA_NUMBER":{"type":"string"},"DOJ_LOS":{"type":"string"},"FBI_LOS":{"type":"string"},"EMPLOYER_NAME":{"type":"string"},"EMPLOYER_STREET_NUMBER":{"type":"string"},"EMPLOYER_STREET_NAME":{"type":"string"},"EMPLOYER_CITY":{"type":"string"},"EMPLOYER_STATE":{"type":"string"},"EMPLOYER_ZIP":{"type":"string"},"EMPLOYER_MAIL_CODE":{"type":"string"},"EMPLOYER_PHONE":{"type":"string"},"MISC_BILLING_NUMBER":{"pattern":"^[\\d]{6}$|^[Nn][Aa]$|^[Cc][Aa][Ff]$","type":"string"},"MISC_NUMBER_2":{"type":"string"},"MISC_NUMBER_3":{"type":"string"},"MISC_NUMBER_4":{"type":"string"},"MISC_NUMBER_5":{"type":"string"},"NAMESUFFIX":{"type":"string"},"AKA_MIDDLE":{"pattern":"([a-zA-Z\\s]*)","type":"string"},"AKA_SUFFIX":{"type":"string"},"AGENCY_SUITE":{"pattern":"([a-zA-Z0-9\\s]*)","type":"string"},"US_CITIZEN":{"type":"string"},"MONTHS_AT_THIS_ADDRESS":{"pattern":"^([0-9]*)?","type":"string"},"YRS_AT_THIS_ADDRESS":{"pattern":"([0-9]*)","type":"string"},"EMPLOYER_OFFICE_NUMBER":{"type":"string"},"AGENCY_EXT_ZIP":{"pattern":"^(\\d\\d\\d\\d)?","type":"string"},"HOME_EXT_ZIP":{"pattern":"^(\\d\\d\\d\\d)?","type":"string"},"EMPLOYER_EXT_ZIP":{"type":"string"},"EMPLOYER_FAX":{"type":"string"},"APPLIC_TYPE":{"type":"string"},"EMPLOYER_EXT":{"type":"string"},"EMAIL_ADDRESS":{"pattern":"^((([A-Za-z0-9]+_+)|([A-Za-z0-9]+\\-+)|([A-Za-z0-9]+\\.+)|([A-Za-z0-9]+\\++))*[A-Za-z0-9]+@((\\w+\\-+)|(\\w+\\.))*\\w{1,63}\\.[a-zA-Z]{2,6})?","type":"string"},"MODIFIED_DATE":{"format":"date-time","type":"string"},"MODIFIED_BY":{"type":"string"},"FEES":{"format":"double","type":"number"},"Z_SFP_LOCATION":{"$ref":"#/definitions/Location"},"AgencyPhoneArea":{"pattern":"^(\\d\\d\\d)?","type":"string"},"AgencyPhoneFirst3":{"pattern":"^(\\d\\d\\d)?","type":"string"},"AgencyPhoneLast4":{"pattern":"^(\\d\\d\\d\\d)?","type":"string"},"Ssn_First3":{"pattern":"^(\\d\\d\\d)?","type":"string"},"Ssn_Next2":{"pattern":"^(\\d\\d)?","type":"string"},"Ssn_Last4":{"pattern":"^(\\d\\d\\d\\d)?","type":"string"},"HomePhoneArea":{"pattern":"^(\\d\\d\\d)?","type":"string"},"HomePhoneFirst3":{"pattern":"^(\\d\\d\\d)?","type":"string"},"HomePhoneLast4":{"pattern":"^(\\d\\d\\d\\d)?","type":"string"},"HomePhoneExtension":{"pattern":"([0-9]*)","type":"string"},"EmployerPhoneArea":{"type":"string"},"EmployerPhoneFirst3":{"type":"string"},"EmployerPhoneLast4":{"type":"string"},"EmployerFaxArea":{"type":"string"},"EmployerFaxFirst3":{"type":"string"},"EmployerFaxLast4":{"type":"string"},"placeOfBirthCountryOrState":{"type":"string"},"height_feet":{"type":"string"},"height_inch":{"type":"string"},"state":{"type":"string"}}},"TimeSlot":{"required":["LOCATION_ID","START_TIME","START_DATE","END_DATE"],"type":"object","properties":{"LOCATION_ID":{"type":"string"},"START_TIME":{"type":"string"},"START_DATE":{"type":"string"},"END_DATE":{"type":"string"},"COMMENTS":{"type":"string"},"Z_SFP_LOCATION":{"$ref":"#/definitions/Location"},"ExpirationDate":{"format":"date-time","type":"string"}}}}}
